{
	"gui" : {
		"background" : { //this is invisible either way. chucklefish's stank ass way of declaring the size of the main interface
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/funkyBot/images/bar_full.png?multiply=FFFFFF00",
			"fileBody" : "/interface/funkyBot/images/body.png?multiply=FFFFFF00",
			"fileFooter" : "/interface/funkyBot/images/bar_full.png?multiply=FFFFFF00"
		},
        "body" : { //actual things, you can't edit the main ones up above so i need to use image widgets to access their colors
			"type" : "image",
			"file" : "/interface/funkyBot/images/body.png?setcolor=616161",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 10],
			"zlevel": 0
		},
		"header" : { //gotta add a definitions in a json file cos more than one thing shares the same img so i can't do it like i originally wanted to fuck
			"type" : "image",
			"file" : "/interface/funkyBot/images/bar_full.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 210],
			"zlevel": 1
		},
        "interface_name" : {
			"type" : "label",
			"position" : [5, 210],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "Funky Bot",
			"zlevel": 2
		},
		"footer" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/bar_full.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 0],
			"zlevel" : 1
		},
        "command_header" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/command_header.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [10, 190],
			"zlevel": 2
		},
        "command_label" : {
			"type" : "label",
			"position" : [15, 190],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "Commands",
			"zlevel": 3
		},
        "command_bg" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/command_bg.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [10, 50],
			"zlevel": 1
		},
        "misc_list_header" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/misc_list_header.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [240, 190],
			"zlevel": 2
		},
        "misc_list_label" : {
			"type" : "label",
			"position" : [245, 190],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "Misc",
			"zlevel": 3
		},
        "misc_list_bg" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/misc_list_bg.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [240, 50],
			"zlevel": 1
		},
        "input_bg" : {
			"type" : "image",
			"file" : "/interface/funkyBot/images/input_bg.png",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [10, 20],
			"zlevel": 1
		},
        "textInput" : {
			"type" : "textbox",
			"position" : [15, 23],
			"textAlign" : "left",
			"fontSize" : 14,
			"maxWidth" : 290,
			"hint" : "Command...",
			"enterKey": "sendCommand",
			"callback": "null",
			"zlevel": 2
		},
        "OKButton" : {
			"type" : "button",
			"base" : "/interface/funkyBot/images/send_bttn.png",
			"hover" : "/interface/funkyBot/images/send_bttn.png",
			"pressed" : "/interface/funkyBot/images/send_bttn.png",
			"pressedOffset" : [0, 0],
			"callback" : "sendCommand",
            "caption" : "OK",
			"position" : [310, 20],
			"zlevel": 2
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/funkyBot/images/quit.png",
			"hover" : "/interface/funkyBot/images/quitHover.png",
			"pressed" : "/interface/funkyBot/images/quitPressed.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [342, 212],
			"zlevel": 100
		},
		"command": {
			"zlevel" : 2,
			"type" : "canvas",
			"size" : [220,140],
			"position": [10,50],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
        "misc": {
			"zlevel" : 2,
			"type" : "canvas",
			"size" : [100,140],
			"position": [240,50],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		}
	},
	"scripts" : ["/interface/funkyBot/scripts/main.lua"],
	"scriptDelta" : 1,

    "scriptWidgetCallbacks" : ["sendCommand"]
}